* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.bold {
  font-weight: bold;
}

nav {
  width: 100%s;
  //   background-color: aqua;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

  height: 70px;
  display: flex;
  padding: 20px 36px;
}

.hero-section {
  padding: 20px 40px;
  img {
    display: flex;
    justify-content: center;
    margin: auto;
  }
}

.card-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow: auto;
  padding: 30px;
}

.card-boxes {
  font-size: 12px;

  .card--image {
    width: 100%;
    border-radius: 9px;
  }
  .card--stats {
    display: flex;
    align-items: center;
    .card--star {
      height: 14px;
    }
  }
}

.cats-list {
  padding: 30px;
  display: flex;
  flex-wrap: nowrap;
  gap: 50px;
  overflow: auto;
  background-color: pink;

  .cat-section {
    .cat-image {
      width: 300px;
      height: 300px;
      border-radius: 50%;
    }

    .cat-details {
      font-size: 14px;
      display: flex;
      gap: 10px;
      justify-content: center;
    }
  }
}
