* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.bold {
  font-weight: bold;
}

nav {
  width: 100%s;
  //   background-color: aqua;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

  height: 70px;
  display: flex;
  padding: 20px 36px;
}

.hero-section {
  padding: 20px 40px;
  img {
    display: flex;
    justify-content: center;
    margin: auto;
  }
}

.card {
  width: 175px;
  font-size: 12px;

  .card--image {
    width: 100%;
    border-radius: 9px;
  }
  .card--stats {
    display: flex;
    align-items: center;
    .card--star {
      height: 14px;
    }
  }
}
